
body{
    background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 2%, rgba(121,9,68,1) 50%, rgba(2,0,36,1) 100%);
    margin: 15%;
}
.container{
    width: fit-content;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 2%;
    margin-left: 30%;
    /* border: 1px solid black; */
}
input{
    border-style: double;
    border-radius: 20px;
    height: 20px;
}
input:hover{
    opacity: .7;
    background-color:deepskyblue;
    /* transition: .9s; */
    color:black;
}
#c_box{
    
    height: 1em;
}

img{
    width: 300px;
    height: 300px;
}